body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;

   background: linear-gradient(135deg,
    #3b63a0,  /* φωτεινό μπλε */
    #5a8ecf,  /* απαλό φωτεινό μπλε */
    #66b2cc,  /* γαλάζιο-πράσινο φωτεινό */
    #4a7caa   /* πιο σκούρο αλλά φωτεινό μπλε */
);
}

/* Στυλ για την εικόνα */
#image1 {
    position: absolute;
    top: 20px;   /* Απόσταση από την κορυφή της σελίδας */
    left: 20px; /* Απόσταση από τη δεξιά πλευρά της σελίδας */
    width: 370px; /* Πλάτος εικόνας */
    height: 75px; /* Ύψος εικόνας */
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8); /* σχεδόν λευκό */
    padding: 8px 15px;
    border-radius: 6px;
    display: inline-block; /* για να μη γεμίζει όλο το πλάτος */
}


/* Στυλ για τον τίτλο της σελίδας */
h1 {
    font-size: 2.5em;
    color: #f0e6cc;
    margin-bottom: 10px;
}

/* Στυλ για τον υπότιτλο */
h2 {
    font-size: 1.5em;
    color: #eeeeee;
    margin-bottom: 30px;
}

/* Στυλ για τη φόρμα */
form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 335px;
}

/* Στυλ για τις ετικέτες των πεδίων */
label {
    font-size: 1.1em;
    color: #333333;
    margin-bottom: 10px;
    display: block;
}

/* Στυλ για τα πεδία εισαγωγής */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

/* Στυλ για το κουμπί */
button {
    background-color: #f0e6cc; /* ανοιχτόχρυσο / σαμπανιζέ */
    color: #0C3B52;            /* μπορντό */
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #e6d8a5;  /* ελαφρώς πιο σκούρο σαμπανιζέ */
    transform: scale(1.03);
}
.content-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(135deg, #3DA1C8, #0C3B52);
    border: 2px solid #CCCCCC; 
    color: #F4F4F4;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 3;
   
}